
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<style>

table{



height:400px;

border:1px solid black;
border-collapse:collape;
padding:20px;
position




</style>
<body id="body">
<?php



  ?>

  <div id="table" style="position:relative;">
  <h1 style="text-align:center" >Mutual Agreement

</h1>
      <h2 style="text-align:center" >CONDITIONS

</h2>

<table width="40%"  align="center" >


<tr>
    <td> <h3> 1.{{uname}} rented the {{vno}} from {{oname}} for {{date}} </h3></td>

</tr>
    <tr>
        <td> <h3> 2.If any damage in {{vno}} occurred during the rented period, {{uname}} has full responsibility for the vehicle. </h3></td>

    </tr>

     <tr>

         <td> <h3> 3.The person who rent the vehicle must take care of the vehicle at any cost. </h3></td>
     </tr>
    <tr>

    <td><h3> 4.{{uname}} must return the vehicle to {{oname}} before the period of time they chose. Or else, the owner can file a complaint with the proof the renter provided.</h3> </td>

    </tr>


</table>



 <button onclick="printme()" style="padding:10px 20px;margin-bottom:30px;">Print this page</button>

<script>
function printme(){
var body=document.getElementById('body').innerHTML;
var table=document.getElementById('table').innerHTML;
document.getElementById('body').innerHTML=table;
window.print();
}

</script>
<div>
<a href="/BookInfo">back</a>
</div>

</body>
</html>